.training_page
    padding: 0em

    &__content
        margin: 0.7em 0
        padding: 1em 3em
        background: #222222
        border-radius: 20px

        &__title
            padding: 0.5em 0
            font-size: 22px
            justify-content: center
            text-align: center
            margin-top: -2em

            h1
                font-size: 40px
                margin: 0
                padding: 0

            p
                padding: 0em 3em

        &__cards
            justify-content: space-around 
            display: flex
            flex-wrap: wrap
            margin: 0 5em


