.training_page
    padding: 2em

    &__content
        margin: 1em 0

        &__title
            padding: 0.5em 0
            font-size: 22px
            justify-content: center
            text-align: center
            margin-top: -2em

            h1
                font-size: calc(20px + 20 * (100vw / 1280))
                margin: 0
                padding: 0

            p
                padding: 0em 3em
                font-weight: 400
                font-size: calc(2px + 17 * (100vw / 1280))

        &__cards
            justify-content: space-around 
            display: flex
            flex-wrap: wrap
            margin: 0 10%


