.main_content
    margin: 0
    padding: 1em 5em
    box-sizing: border-box
    text-align: center
    justify-content: center
    .button_wrapper
        margin: 1em 0
        text-align: center
        justify-content: center
    h1
        font-size: 48px
        margin: 0
        padding: 0 2em
    .information_form_wrapper
        justify-content: center
        text-align: center
        width: 100%
    .information_form
        width: 100%
        input
            color: white 
            background: none
            border: 2px solid #6877FF
            border-radius: 22px
            padding: 1.5em 2em
            width: 88%
            margin: 0.5em 0 

@keyframes custom
  0%
    background-position: 0% 50%
  50%
    background-position: 100% 50%
  100%
    background-position: 0% 50%

.button_wrapper
  button
    background: linear-gradient(-45deg, #6877ffa6, #6877ff7c, #9900ff88, #c907faa1)
    background-size: 500% 500%
    box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.32)
    border-radius: 30px
    color: white
    font-size: 17px
    padding: 0.9em 1.9em
    border: 2px solid #6877FF
    animation: custom 3s ease infinite

    &:hover
// / <<<<<<< HEAD
// /         animation: none
// /         border: 2px solid #6877FF
// /         box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.52)
// /         background: linear-gradient(180deg, rgba(104, 119, 255, 0.9) 0%, rgba(104, 119, 255, 0.702) 100%)
// / .content
// /     width: 100%
// /     height: 100vh
// /     justify-content: center
// /     text-align: center
// /     display: flex
// /     align-items: center
// / =======
      animation: none
      border: 2px solid #6877FF
      box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.52)
      background: linear-gradient(180deg, rgba(104, 119, 255, 0.9) 0%, rgba(104, 119, 255, 0.702) 100%)

.information_form
  p
    margin: 0.5em 0.5em 0.3em 0.3em
    padding: 0
    font-weight: 400
    color: red
    font-size: 15px
    line-height: 20px
