header
  height: 20px
  width: 100%

.logo_image
  position: fixed
  display: flex
  flex-direction: row
  justify-content: space-between
  margin: 2% 8% 80% 40%
  .logo_name
    position: fixed
    display: flex
    flex-direction: row
    justify-content: space-between
    font-family: Red Hat Display
    font-size: 64px
    line-height: 85px
    color: white
    margin-left: 8%