body
    box-sizing: border-box
    width: 100%
    height: 100vh
    background: linear-gradient(178.39deg, #6877FF 1.37%, #853CFC 51.02%, #9E07FA 94.92%)
    justify-content: center
    align-items: center
    margin: 0
    padding: 0
    