.page_content
    padding: 2.5em 7.5em
    background: linear-gradient(178.39deg, #6877FF 1.37%, #853CFC 51.02%, #9E07FA 94.92%) no-repeat

.page_content_wrapper
    background: #222222
    border-radius: 40px
    padding: 1.5em
    p
        font-style: normal
        font-weight: 300
        font-size: 52px
        line-height: 25px
        text-align: center
.question_block_wrapper
    margin: 0 auto
    padding: 0 6em
    justify-content: center
.block_for_question
    label
        font-style: normal
        font-size: 26px
        line-height: 3
        text-align: left
    input
        width: 100%
        background: #FFFFFF
        padding: 2em
        border: 3px solid #FFFFFF
        box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.4)
        border-radius: 20px