h3
    padding: 0.2em 0
    margin: 0
.icon_wrapper
    cursor: pointer
.main_content
    padding: 0em
.main_content_wrapper
    margin: 0.2em 0
    padding: 1em 2.3em
    background: #222222
    border-radius: 20px
.upper_info
    h1
        font-size: 44px
        margin-top: -0.5em
        padding: 0
.calculator_block
    display: flex
    font-size: 15px
    margin: 0 4em
    justify-content: space-around
    p
        font-size: 22px
        font-weight: bold
.block_for_food
    padding: 0
    margin: 1em 1em
    background: rgba(104, 119, 255, 0.25)
    box-shadow: 0px 4px 48px rgba(0, 0, 0, 0.32)
    box-sizing: border-box
    border-radius: 30px
    .upper_food_block
        padding: 0.7em 4em 
        font-size: 25px
        display: flex
        justify-content: space-between
    .lower_food_block
        padding: 0.3em 0
        box-shadow: 0px -0.7px 0px rgb(255, 255, 255)
        display: flex
        font-size: 15px
        justify-content: space-around
        pre
            font-size: 16px

button
    cursor: pointer