.page_content
  padding: 2.5em 7.5em
  background: linear-gradient(178.39deg, #6877FF 1.37%, #853CFC 51.02%, #9E07FA 94.92%) no-repeat

  .page_content_wrapper
    background: #222222
    border-radius: 40px

  .upper_content_wrapper
    padding: 1em 6em
