.page_content
  padding: 3em 15em
  background: linear-gradient(178.39deg, #6877FF 1.37%, #853CFC 51.02%, #9E07FA 94.92%) no-repeat

  .page_content_wrapper
    background: #222222
    border-radius: 40px
    margin: 1em auto

  .upper_content_wrapper
    padding: 1em 5em
.logo_wrapper
    margin-right: 4em
    margin-top: 5em
    margin-bottom: 0
    display: flex
    align-items: center
    justify-content: center