.page_content
    padding: 2.5em 12em
    background: linear-gradient(178.39deg, #6877FF 1.37%, #853CFC 51.02%, #9E07FA 94.92%) no-repeat

.page_content_wrapper
    background: #222222
    border-radius: 40px
    padding: 1em 2em
    justify-content: center
    p
        padding-top: 1em
        font-style: normal
        font-weight: 300
        font-size: 45px
        line-height: 25px
        text-align: center
