.questionnaire_page
    padding: 2em 5em

    &__logo
      display: flex
      text-align: center
      justify-content: center

      p
        padding: 0 0.1em
        margin: 0
        font-size: 42px  
        
      h1
        padding-top: 0.5em
        font-size: 40px
        line-height: 1.5em


