.main_content_wrap
    padding: 2em 5em
    .logo_wrapper
      display: flex
      text-align: center
      justify-content: center
      p
        padding: 0 0.1em
        margin: 0
        font-size: 42px  
      h1
        padding-top: 0.5em
        font-size: 40px
        line-height: 1.5em
.question_block_wrapper
    margin: 0 auto
    padding: 2em 6em 2em 6em
    justify-content: center
.block_for_question
    label
        font-style: 600
        font-size: 20px
        line-height: 3em
        text-align: left
    input
        width: 100%
        background: #FFFFFF
        padding: 1.6em 0.5em
        border: 2px solid #FFFFFF
        box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.178)
        border-radius: 20px

.flex_block
    display: flex
    label
        padding-right: 2em
    input
        width: 30px
        height: 30px
        box-shadow: none
        margin: 0 1em
        
.button_save_content
    text-align: center
    justify-content: center

.button_wrapper
  padding: 0.5em 0 2em 0
  button
      background: linear-gradient(-45deg, #6877ffa6, #6877ff7c, #9900ff88, #c907faa1)
      background-size: 500% 500%
      box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.32)
      border-radius: 30px
      color: white
      font-size: 17px 
      padding: 0.9em 1.9em
      border: 2px solid #6877FF
      animation: custom 3s ease infinite
      &:hover
          animation: none
          border: 2px solid #6877FF
          box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.52)
          background: linear-gradient(180deg, rgba(104, 119, 255, 0.9) 0%, rgba(104, 119, 255, 0.702) 100%)
