.input_and_button_wrapper
  display: flex
  flex-direction: column
  justify-content: center
  border-radius: 50px
  margin: 0em 7em 5em 7em
  padding: 0em 9em 1em 9em
  .login_statement
    text-align: center
    font-style: normal
    font-size: 35px
  input
    font-size: 15px
    border-radius: 22px
    background: #ffffff00
    padding: 1em
    color: white
    margin-bottom: 1em
    border: none
  .button_wrapper
    padding-top: 2em
    padding-left: 7em
    padding-right: 7em
    display: flex
    flex-direction: column
    justify-content: center
.time
  padding: 1.5em
  text-align: center
  img
    width: 20%
