.page_content
    padding: 2.5em 10em
    background: linear-gradient(180deg, rgba(104, 119, 255, 0.9) 0%, rgba(17, 43, 179, 0.747) 27.6%, rgba(25, 10, 197, 0.765) 50%, rgba(121, 6, 191, 0.864) 74.48%, rgba(69, 11, 164, 0.765) 100%)
.upper_header
    padding-bottom: 1em
.logo_wrapper
    display: flex
    flex-direction: row
    justify-content: center
    p
        text-shadow: 0px 0px 30px #b3b9f3b4
        font-size: 45px
        margin: 0
.page_content_wrapper
    
    background: #222222
    border-radius: 40px
    padding: 1.5em
    justify-content: center
    .time_wrapper
        justify-content: center
        p
            text-align: center
            padding: 0.2em 0
            margin: 0
            font-size: 90px
    p
        text-align: center
        padding: 0
        margin: 0
        font-size: 55px
.title_wrapper
    display: flex
    justify-content: center
    p
        padding: 0 0.3em
.work_time_block
    display: flex
    justify-content: center
    margin: 3em 0
    p
        font-size: 75px
        padding: 0 0.5em
    img
        padding: 0 0.1em

.button_timer_wrapper
    background: none
    border: none
    &:hover
        box-shadow: none