.button_reg
    cursor: pointer
    &:hover
        box-shadow: 0 0 20px #fffafac9
.page_content
    padding: 2.5em 7.5em
    background: linear-gradient(178.39deg, #6877FF 1.37%, #853CFC 51.02%, #9E07FA 94.92%) no-repeat
    .page_content_wrapper
        background: #222222
        border-radius: 40px
    .upper_content_wrapper
        padding: 0.5em 4em
  
.title_content
    p
        font-weight: bold
        margin: 0
        padding-top: 0.3em
        text-align: left
        font-size: 70px

.info_content
    display: flex
    .text_wrapper
        padding-top: 4em
        p
            padding-right: 15em
            font-size: 20px
    .pict_wrapper
        margin-left: auto
        margin-right: 0
        img 
            width: 600px
              
.second_title_content
    padding-top: 2em
    .label_text
        text-align: center
        margin: 0
        margin-right: 0.3em
        padding-top: 1.5em
        font-size: 40px
    p
        text-align: center
        margin: 0
        padding: 0.3em 2em
        font-size: 60px
.registration_button_content
    display: grid
    grid-template-rows: 1fr
    grid-template-columns: 6fr 6fr
    grid-template-areas: "left right"
    .left_block
        grid-area: left
    .right_block
        grid-area: right
    .block_component
        margin-top: 4em
        img 
            width: 100%
        p
            text-align: center
            font-size: 27px
            margin: -0.1em
.center_block
    padding-top: 2em
    text-align: center
    .button_wrapper
        margin-bottom: 2em
        .button_reg
            font-size: 17px
            border-radius: 50px
            background: #222222
            padding: 0.70em 1.75em
            color: white
            border: 2px solid #6877FF
            text-decoration: none
    p
        font-size: 50px
    .link
        color: white
        text-decoration: none
    .link:hover
        font-weight: bold

.footer
    padding: 0.25em 0
    .footer_wrapper
        padding: 0.25em 2em


    