@keyframes custom
  0%
    background-position: 0% 50%
  50%
    background-position: 100% 50%
  100%
    background-position: 0% 50%

.custom
  button
    font-size: calc(10px + 6 * (100vw / 1280))
    background: linear-gradient(-45deg, #4557fdcf, #3f52f6cb, #9900ffc0, #c907fadd)
    background-size: 500% 500%
    box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.32)
    cursor: pointer
    border-radius: 15px
    color: white
    width: 220px
    padding: 0.8em 1em
    border: none
    text-align: center
    justify-content: center
    animation: custom 3s ease infinite
    white-space: nowrap
    &:hover
      transform: translateY(-2px)
      animation: none
      border: none
      box-shadow: 0px 2px 20px rgba(172, 159, 159, 0.114)
      background: linear-gradient(180deg, rgb(154, 41, 247) 0%, rgba(77, 93, 245, 0.938) 100%)
